/* You can add global styles to this file, and also import other style files */

* {
    margin:0px;
}

body {
    /*background:#d9c8c8;*/
    font-size:13px;
    line-height:20px;
    font-family:"Montserrat", Arial, sans-serif;
    color:#4d5355;
    -webkit-font-smoothing: antialiased;
}